
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$purple: rgb(118, 75, 162);
$purple-blue: #667eea;
$gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$turquoise: rgb(26, 188, 156);
$black: #1f2c39;